/* Source scanning */
@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Brand Token */
    --color-brand: var(--color-blue-600);
    --color-brand-hover: var(--color-blue-700);

    /* Background Token */
    --color-primary: var(--color-white);
    --color-secondary: var(--color-gray-50);
    --color-tertiary: var(--color-gray-100);
    --color-muted: var(--color-gray-200);

    /* Text */
    --color-text-primary: var(--color-red-900);
    --color-text-secondary: var(--color-gray-600);
    --color-text-thirdary: var(--color-gray-400);
}

@layer components {
    /* Section */
    .wrapper {
        @apply py-5 max-w-4xl mx-auto px-4 mt-2;
    }

    /* Carousel */
    .carousel-header {
        @apply flex items-center justify-between mb-4;
    }

    .carousel-header-label {
        @apply px-1 text-base sm:text-xl font-semibold text-[var(--color-text-primary)];
    }

    .carousel-arrow {
        @apply bg-[var(--color-tertiary)] ml-2 w-8 h-8 sm:w-9 sm:h-9 flex items-center justify-center rounded-full transition;
    }

    .carousel-arrow:hover {
        @apply bg-[var(--color-muted)];
    }

    .carousel-arrow-icon {
        @apply text-sm text-[var(--color-text-secondary)];
    }

    .carousel {
        @apply relative flex gap-3 overflow-x-auto pb-2;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    .carousel-card {
        @apply snap-start shrink-0 w-[200px] sm:w-[220px];
    }
}

/* Text Class   */

.text-primary {
    color: var(--color-text-primary);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-thirdary {
    color: var(--color-text-thirdary);
}

.text-brand {
    color: var(--color-brand);
}

.btn-primary {
    background-color: var(--color-brand);
}

.btn-primary:hover {
    background-color: var(--color-brand-hover);
}

.btn-secondary {
    background-color: var(--color-tertiary);
}

.btn-secondary:hover {
    background-color: var(--color-muted);
}
