/* Source scanning */
@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Brand Token */
    --color-brand: var(--color-blue-600);
    --color-brand-hover: var(--color-blue-700);

    /* Background Token */
    --color-base: var(--color-white);
    --color-secondary: var(--color-gray-50);
    --color-tertiary: var(--color-gray-100);
    --color-muted: var(--color-gray-200);

    /* Text */
    --color-text-primary: var(--color-gray-900);
    --color-text-secondary: var(--color-gray-600);
    --color-text-thirdary: var(--color-gray-400);
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE & Edge lama */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Edge */
    }
}

@layer components {
    /* Section */
    .wrapper {
        @apply py-5 max-w-4xl mx-auto px-4 mt-2;
    }

    /* Carousel */
    .carousel {
        @apply relative flex gap-3 overflow-x-auto pb-2;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }

    /* card */
    .carousel-card {
        @apply snap-start shrink-0 w-[200px] sm:w-[220px];
    }
}

/* Text Class   */
.text-primary {
    color: var(--color-text-primary);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-thirdary {
    color: var(--color-text-thirdary);
}

.text-brand {
    color: var(--color-brand);
}

.btn-primary {
    background-color: var(--color-brand);
}

.btn-primary:hover {
    background-color: var(--color-brand-hover);
}

.btn-secondary {
    background-color: var(--color-tertiary);
}

.btn-secondary:hover {
    background-color: var(--color-muted);
}
